%margin-bottom {
	margin-bottom: 20px;
}

%margin-top {
	margin-top: 20px;
}

%margin-bottom-reduced {
	margin-bottom: 10px;
}

%padding-top {
	padding-top: 20px;
}

%padding-bottom {
	padding-bottom: 20px;
}

%padding-top-reduced {
	padding-top: 15px;
}

%padding-bottom-reduced {
	padding-bottom: 15px;
}