

div(class=['bottom_btn'])
	div(class=['container'])
		div(class=['col-md-2'])
		div(class=['col-md-8'])
			button(type="button", class="btn btn-default btn-block") TMP
		div(class=['col-md-2'])

div(class=["footer z-1"])
	div(class=['container'])
		div(class=['col-md-2'])
		div(class=['col-md-8'])
			button(type='button', class="btn btn-default")
				span(class=['social-github'])
			button(type='button', class="btn btn-default")
				span(class=['social-linkedin'])
		div(class=['col-md-2'])