div(class=['container-fluid'])
	//MENU
	div(class=['row'])
		div(class=['col-sm-2 hidden-xs'])
		div(class=['col-sm-8'])
			div(class=['row'])
				div#top(class=['col-md-12'])
					h1 EGGIT
					p Just boiling an egg isnt hard, this site<br/>just wants to help you boil a perfect one.
			div#apparea(class=['row'])
		div(class=['col-sm-2 hidden-xs'])
