div(class=['container-fluid'])
	//MENU
	div(class=['row'])
		div(class=['col-sm-2 hidden-xs'])
		div(class=['col-sm-8'])
			div(class=['row'])
				div#top(class=['col-md-12'])
					h1 EGGIT
			div#apparea(class=['row'])
		div(class=['col-sm-2 hidden-xs'])
