
script(type=["text/template"] id=["template_start"])
	div(class=['col-md-12'])
		p(class=['centered']) Just boiling an egg isnt hard, this site<br/>just wants to help you boil a perfect one.
	div(class=['hidden-xs col-sm-2 col-md-2'])
	div(class=['col-xs-12 col-sm-8 col-md-8'])
		div#soft(class=['col-xs-4'])
		div#medium(class=['col-xs-4'])
		div#hard(class=['col-xs-4'])
	div(class=['hidden-xs col-sm-2 col-md-2'])

script(type=["text/template"] id=["template_prep"])
	div(class=['step_prep col-md-12'])
		h2 <%= title %>
		p <%= desc %>
		button(type="button", class="btn btn-default") <%= btnlabel %>

script(type=["text/template"] id=["template_boil"])
	div(class=['step_boil col-md-12'])
		div(class=['col-md-6'])
			h2 <%= title %>
			p <%= desc %>
		div(class=['col-md-6'])
			p#timeVisual 00:00
		button(type="button", class="btn btn-default") <%= btnlabel %>

script(type=["text/template"] id=["template_rinse"])
	div(class=['step_rinse col-md-12'])
		div(class=['col-md-6'])
			h2 <%= title %>
			p <%= desc %>
		div(class=['col-md-6'])
			p#timeVisual 00:00
		button(type="button", class="btn btn-default") <%= btnlabel %>

script(type=["text/template"] id=["template_wait"])
	div(class=['step_wait col-md-12'])
		div(class=['col-md-6'])
			h2 <%= title %>
			p <%= desc %>
		div(class=['col-md-6'])
			p#timeVisual 00:00
		button(type="button", class="btn btn-default") <%= btnlabel %>

script(type=["text/template"] id=["template_end"])
	div(class=['step_end col-md-12'])
		div(class=['col-md-6'])
			h2 <%= title %>
			p <%= desc %>
		button(type="button", class="btn btn-default") <%= btnlabel %>





