
script(type=["text/template"] id=["template_start"])
	div(class=['col-xs-12 col-sm-12 col-md-12'])
		div(class=['col-md-12'])
			p(class=['centered']) <%= desc %>
		div(class=['col-md-12 z-20 clearfix'])
			div#softbtn(class=['btn col-xs-4 col-sm-4 col-md-4'])
				img(class=['img-responsive'] src=['gfx/soft_egg.png'])
			div#mediumbtn(class=['btn col-xs-4 col-sm-4 col-md-4'])
				img(class=['img-responsive'] src=['gfx/medium_egg.png'])
			div#hardbtn(class=['btn col-xs-4 col-sm-4 col-md-4'])
				img(class=['img-responsive'] src=['gfx/hard_egg.png'])
		div(class=['col-md-12 clearfix'])
			p(class=['centered']) <%= current %>

script(type=["text/template"] id=["template_prep"])
	div(class=['prep_gfx col-sm-6'])
		img(src=['gfx/pot.png'])
	div(class=['step_prep col-xs-12 col-sm-6'])
		p <%= desc %>
		button(type="button" class=["btn btn-default btn-block"]) <%= btnlabel %>

script(type=["text/template"] id=["template_boil"])
	div(class=['step_boil col-md-12'])
		div(class=['col-md-12 centered'])
			p <%= desc %>
		div(class=['col-md-12'])
			h2#time_visual(class=['centered'])

script(type=["text/template"] id=["template_rinse"])
	div(class=['step_rinse col-md-12'])
		div(class=['col-md-12 centered'])
			p <%= desc %>
		div(class=['col-md-12'])
			h2#time_visual(class=['centered'])

script(type=["text/template"] id=["template_wait"])
	div(class=['step_wait col-md-12'])
		div(class=['col-md-12 centered'])
			p <%= desc %>
		div(class=['col-md-12'])
			h2#time_visual(class=['centered'])

script(type=["text/template"] id=["template_end"])
	div(class=['step_end col-md-12'])
		div(class=['col-md-6'])
			p <%= desc %>





