

#svg_softegg, #svg_mediumegg, #svg_hardegg, #svg_sizeegg {
	pointer-events: none;
}

#svg_prep_illu {
	max-width: 400px;
}

#svg_logo {
	max-width: 600px;
}

#clock_svg {
	max-width: 300px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}