@import 'vars.less';
@import 'bootstrap_overrides.less';

* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 30px;

	/* Font */
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #FFFFFF;
	font-size: 10px;
	text-rendering: optimizeLegibility;

	.bluegradient;
}

p {
	font-size: 2em;
}

a {
	color: #00B7FF;
}

.step_prep p {
	//font-style: italic;
	margin-top: 10px;
	margin-bottom: 30px;
}

.centered {
	text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 30px;
	background-color: #15316b;
	p {
		margin-top: 8px;
		font-size: 10px;
		color: #DDD;
		text-align: center;
	}
}

#top {
	.centered;
	margin-top: 40px;
	margin-bottom: 20px;
}

#softbtn {
	cursor: pointer;
}

#mediumbtn {
	cursor: pointer;
}

#hardbtn {
	cursor: pointer;
}

.debug_red {
	background-color: #FF0000;
}
.debug_blue { background-color: #0000FF; }
.debug_green { background-color: #00FF00; }
