@import 'vars.less';
@import 'bootstrap_overrides.less';
@import 'mixins.less';

* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 30px;

	/* Font */
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: #FFFFFF;
	font-size: 10px;
	text-rendering: optimizeLegibility;

	.gradient-background(@backgroundStartColor, @backgroundEndColor);
}

p {
	font-size: 2em;
}

a {
	color: #00B7FF;
}

.centered {
	text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	p {
		margin-top: 15px;
		font-size: 10px;
		color: #DDD;
		text-align: center;
	}
	.gradient-background(darken(@backgroundEndColor, 5%), @backgroundEndColor);
}

.bottom_btn {
	position: absolute;
	bottom: 70px;
	width: 100%;
}

#top {
	.centered;
	margin-left: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}

#time_visual {
	font-family: 'Sniglet', cursive;
	font-size: 300px;
	margin: 5%;

	.text-shadow;

	.time_divider {
		position: relative;
		top: -0.1em;
	}
}

#softbtn {
	cursor: pointer;
}

#mediumbtn {
	cursor: pointer;
}

#hardbtn {
	cursor: pointer;
}

.debug_red {
	background-color: #FF0000;
}
.debug_blue { background-color: #0000FF; }
.debug_green { background-color: #00FF00; }
