
#softbtn {
	display: block;
	pointer-events: auto;

	/*@media screen {
		@media (max-width:768px) {
			background: url(../gfx/soft_egg.png);
            -moz-background-size:100% 100%;
			-webkit-background-size:100% 100%;
			background-size:100% 100%;
			width: 212px;
			height: 263px;

			#svg_softegg {
				visible: hidden;
				display: none;
			}
		}
	}*/
}

.start_desc {
	margin-bottom: 20px;
}

.start_eggs {
	margin-bottom: 20px;
	display: block;
	//.debug_green;
}

.start_current p {
	//.debug_blue;
	font-style: italic;
	font-weight: 400;
	font-size: 1.4em;
}