mixin svg_logo
    object(id="svg_logo" type="image/svg+xml" data="assets/svg/logo.svg" width="100%" height="100%" class="svg-content")

mixin svg_softegg
    object(id="svg_softegg" type="image/svg+xml" data="assets/svg/soft_egg.svg" width="100%" height="100%" class="svg-content")

mixin img_softegg
    img(class="egg_img" src="assets/images/soft_egg.png")

mixin svg_mediumegg
    object(id="svg_mediumegg" type="image/svg+xml" data="assets/svg/medium_egg.svg" width="100%" height="100%" class="svg-content")

mixin img_mediumegg
    img(class="egg_img" src="assets/images/medium_egg.png")

mixin svg_hardegg
    object(id="svg_hardegg" type="image/svg+xml" data="assets/svg/hard_egg.svg" width="100%" height="100%" class="svg-content")

mixin img_hardegg
    img(class="egg_img" src="assets/images/hard_egg.png")

mixin svg_sizeegg
    object(id="svg_sizeegg" type="image/svg+xml" data="assets/svg/size_egg.svg" width="100%" height="100%" class="svg-content")

mixin img_sizeegg
    img(class="egg_img" src="assets/images/size_egg.png" width="100%" height="100%")

mixin svg_prep_illu
    object(id="svg_prep_illu" type="image/svg+xml" data="assets/svg/prep_illu.svg" width="100%" height="100%" class="svg-content")

mixin svg_clock
    include ../assets/svg/clock.svg

mixin svg_breakfast
    object(id="svg_breakfast" type="image/svg+xml" data="assets/svg/breakfast.svg" width="100%" height="100%" class="svg-content")

