
include jade_include/gfx_mixins.jade

doctype html
html
	head
		include jade_include/head.jade
	body
		include jade_include/start.jade

		include jade_include/footer.jade

		include jade_include/templates.jade

		script(type=['text/javascript'] src=['js/eggit.lib.js'])
		script(type=['text/javascript'] src=['js/eggit.min.js'])

		script(src="//localhost:35729/livereload.js")
