

mixin svg_logo
	object(type="image/svg+xml" data="gfx/logo.svg" width="100%" height="100%" class="svg-content")

mixin svg_softegg
	object(type="image/svg+xml" data="gfx/soft_egg.svg" width="100%" height="100%" class="svg-content")

mixin svg_mediumegg
	object(type="image/svg+xml" data="gfx/medium_egg.svg" width="100%" height="100%" class="svg-content")

mixin svg_hardegg
	object(type="image/svg+xml" data="gfx/hard_egg.svg" width="100%" height="100%" class="svg-content")

mixin svg_prep_illu
	object(type="image/svg+xml" data="gfx/prep_illu.svg" width="100%" height="100%" class="svg-content")

doctype html
html
	head
		include jade_include/head.jade
	body
		include jade_include/start.jade

		include jade_include/footer.jade

		include jade_include/templates.jade

		script(type=['text/javascript'] src=['js/eggit.lib.js'])
		script(type=['text/javascript'] src=['js/eggit.min.js'])
