
include jade/gfx_mixins.jade

doctype html
html
	head
		include jade/head.jade
	body
		include jade/start.jade

		include jade/footer.jade

		include jade/templates.jade

		script(type=['text/javascript'] src=['js/app.min.js'])